{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
  
<html>
<head>
    <title>CS Dashboard</title>
</head>
  
<!-- Adding some style to table (OPTIONAL) -->
<style>
td {
border: 1px solid #ddd;
padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2;}
tr:hover{background-color: #ddd;}
th{
padding-top:12px;
padding-bottom: 12px;
text-align: left;
background-color:#545461;
color: white;
}

</style>



<body>


<table style="width: 100%; padding-right:10px;">
<tr>      
<!-- For loop logic of jinja template -->
	<th>CRN</th>
	<th>Year</th>
	<th>Semester</th>
	<th>Prefix</th>
	<th>Number</th>
	<th>Section</th>
	<th>Seats</th>
	<th>Instructor</th>
	<th>Days</th>
	<th>Start</th>
	<th>End</th>
	<th>Remarks</th>	
</tr>



{% for row in courses %}
<tr> 
{% for col in row%}
<td>{{col}}</td>
{%endfor%}
</tr>
{%endfor%}

</table>
  
  
</body>
</html>
{% endblock %}